{
  "extends": [
    "react-app",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "prettier/prettier": "warn"
  },
  "plugins": ["prettier"]
}